body {
	background-color: #CF000F;
}

/*MODAL
*/

.modal-content {
	background: rgba(255, 255, 255, .85);
}
.close {
	color: #000;
	text-shadow: 0 2px 0 #000;
	font-size: 40px;
	opacity: 5;
}

h4 {
	font-family: 'Montserrat';
	letter-spacing: 2px;
}

.modal-title {
	color: #CF000F;
	font-size: 2em;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

.modal-body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

/*HEADER*/

.navbar {
	top: 0;
	padding: 20px 10px;
	margin-bottom: 0px;
	border: none;
}

h1 {
	position: absolute;
	visibility: hidden;
}

.surprise{
	height: 180px;
	margin-top: -135px;
}


li {
	list-style: none;
}

.col-md-4 {
	text-align: center;
	padding-top: 10px;
}

.play {
	letter-spacing: 3px;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 40px;
	border: 1px solid black;
	background: #fff;
}

@media screen and (max-width: 598px) {
	.play {
		padding: 10px 20px;
		font-size: 1em;
	}
}

.play:hover {
	background: transparent;
}

.score li{
	list-style: none;
	text-align: center;
	display: inline;
	padding-left: 20px;
}

@media screen and (max-width: 598px) {
	.score li {
		padding-left: 5px;

	}
}

.score { 
	border: 1px dashed black;
 	background: rgba(255, 255, 255, .5);
	padding: 0;
	position: fixed;
	width: 55%;
	height: 12%;
	bottom: 20%;
	top: 25%;
	right: 0%;
	z-index:2;
	padding: 5px 0px;
}

@media screen and (max-width: 598px) {
	.score {
	top: 20%;
	height: 10%;
	}
}
#score{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	letter-spacing: 3px;
}

@media screen and (min-width: 598px) {
	#score {
		font-size: 3.5em;
	}
}

#level {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	letter-spacing: 3px;
}

@media screen and (min-width: 598px) {
	#level {
		font-size: 2.5em;
	}
}


/*GAME*/

.arrow-right {
	background: transparent;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #000000;
	padding: 0px;
	margin-left: 10px;
}

.col-xs-4{
	text-align: center;
}

.character-logo {
	width: 200px;
	height: 250px;
	display: inline-block;
}

@media screen and (max-width: 598px) {
	.character-logo {
		width: 100px!important;
		height: 150px!important;
	}
}

.herobox{
	max-height: 450px;
	margin: 0
}

h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 20px;
	text-align: left;
}

.form {
	padding: 25px 0px;
}

#textArea {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: lowercase;
	max-width: 200px;
	letter-spacing: 2px;
}

@media screen and (max-width: 750px) {
	#textArea {
		max-width: 100px;
	}
}

.submit {
	vertical-align: middle;
}

@media screen and (max-width: 750px) {
	.submit {
		visibility: hidden;
	}
}

/*
FOOTER*/

.footer{
	padding: 30px 10px;
	text-align: center;
}	

.col-md-6 {
	padding-top: 20px;
}

.builtby a {
	text-decoration: underline;
	text-align: center;
	color: black;
	font-family: 'Montserrat';
	font-size: 1.25em;
	cursor: pointer;
	letter-spacing: 2px;


}