h1 {
	visibility: hidden;
}

.surprise{
	height: 180px;
	margin-top: -135px;
}

/*modal*/

.close {
	color: #fff;
	text-shadow: 0 2px 0 #000;
	font-size: 40px;
	opacity: 1;
}

.modal-title {
	max-height: 80px;
}

.modal-body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
/*	font-size: 1.25em;*/
}

li {
	list-style: none;
}

.logo {
 margin-top: -10px;
}

button {
	background: transparent;
    border: none;
}

.playnow {
    margin-top: -240px;
    margin-right: -20px;

}
.arrow-right {
	background: transparent;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #000000;
	padding: 0px;
	margin-left: 10px;
}

.col-md-1 {
	text-align: center;
}

.col-md-4{
	text-align: center;
}

.col-md-7{
	text-align: center;
}

.score li{
	list-style: none;
	padding-top: 20px;
}

#score {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
}

#level {
	font-family: 'Montserrat', sans-serif;
	padding-top: 0px;
}

.score {
	color: #000;
	text-align: center;
}

.title {
	background: #D5331E;
	height: 175px;
}

.play {
	padding: 0px 10px;
}

.ranking {
	background: #5A6F8E;
	height: 175px;
	margin: 0;
}

.shadow{
	background-color: black;
	opacity: 0.4;
	padding-top: 10px;
}

.game{
	padding-top: 175px;
}

.character {
	height: 300px;
}

.character-logo {
	height: 250px;
}

.herobox{
	background: #C4C3C1;
	height: 450px;
	margin: 0
}

h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 20px;
	text-align: left;
}

#textArea {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: lowercase;
	width: 200px;
}

.submit {
	vertical-align: middle;
}

.footer{
	background: #0C2C77;
	color: #fff;
	padding: 30px 10px;
	text-align: center;
}

#reset{
	color: black;
	padding-left: 50px;
	
}

.reset {
	margin-left: 10px;
}

.resetimg {
	margin-top: -5px;
}

.fb-share-button {
	padding-right: 100px;
}

/*mobile header
*/
	@media screen and (max-width: 991px) {
		.logo {
			padding-top: 20px;
		}

		.titleheader{
			padding-left: 0px;
		}
		.title {
			 height: 170px;
		}

		.playnow {
			margin-top: -265px;
			margin-right: -15px;
		}
		.ranking {
			height: 150px;
		}

		.score {
			padding-top: 20px;
    		padding-left: 20px;
		}
		.score li{
			padding-top: 5px;
		}

		#score {
			font-size: 3em;
		}

		.game {
			padding-top: 310px;
		}

		.herobox {
			margin-top: -20px!important;
		}

		.row {
			margin-top: -20px;
		}

		#reset {
			color: black;
			padding-left: 20px;
			
		}
		.titleheader {
			margin-top: 35px;
		}

		.fb-share-button {
			padding-right: 50px;
		}
	}

	@media screen and (min-width: 415px) and (max-width: 991px) {
		.logo {
			padding-top: 15px;
		}

		.titleheader{
			padding-left: 0px;
		}
		.title {
			 height: 200px;
		}
		.ranking {
			height: 260px;
		}
		.playnow {
			vertical-align: middle;
		}

		.score {
			padding-left: 40px;
    		padding-top: 40px;
		}
		.score li{
			padding-top: 5px;
		}

		#score {
			font-size: 4em;
		}

		.game {
			padding-top: 410px;
		}

		.herobox {
			margin-top: -20px!important;
		}

		.row {
			margin-top: -20px;
		}

		#reset {
			color: black;
			padding-left: 20px;
			
		}

		.titleheader {
			margin-top: 0px;
		}

		.fb-share-button {
			padding-right: 50px;
		}
	}